@CHARSET "UTF-8";
/**********GENERAL**********************/
.fondoLubricantes{
	height: 100%;
	width: 100%;
	background-image: url(../imagenes/g-prix/fondo-gprix.jpg);
	background-repeat: repeat;
	margin-left: 0px;
}

.titulo-caracteristicas{
		display: block;
	}


/*********************************************/
.franja-Gprixd{
	width:100%;
	max-width:940px;
	height: 281px;
	background-image:url(../imagenes/g-prix/G-Prix-Beneficios-rectangulo1.png);
	background-position: center;
	background-repeat: no-repeat;
}

.franja-Gprixi{
	width:100%;
	max-width:940px;
	height: 281px;
	background-image:url(../imagenes/g-prix/G-Prix-caracteristicas-rectangulo2.png);
	background-position: center;
	background-repeat: no-repeat;
}

#menuBeneficios{
    background-image: url("../imagenes/nosotros/nosotros-linea-submenu-2.png");
    background-position: -14px 29px;
    background-repeat: no-repeat;
    background-size: 130% auto;
    border-bottom: medium none;
    float: right;
    width: auto;
}

/*.textoBeneficio img{
	display: block;
}*/



.beneficio-seccion{
		height: 120px;	
		width:100%;	
}


	

.btn-slide{
	top: 150px;
}

.titulo-beneficios{
	margin-right:-15px;	
}

.columnaBeneficos{
	width:100%;
}

.beneficio2 .textobeneficio{
	padding-left: 24px;	
}


.beneficios{
	float:left;
	margin-left:52px;
	margin-top:-15px;
	width: 478px;height: 293px;
	background-image: url(../imagenes/g-prix/G-Prix-Beneficios-graficaauto.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.textoBeneficio img{
	display:inline;	
	margin-left: 3px;
	margin-right: 3px;
}

.logoGprix{	
	margin-left: 200px;
	margin-top:-190px;
	width: 163px;height: 90px;
	background-image: url(../imagenes/g-prix/G-Prix-Beneficios-logo-GPRIX.png);
	background-repeat: no-repeat;
	background-size: 100%;	
}

.division-caracteristicas{
	float:left;
	margin-left:-5px;
	margin-right:0px;
	margin-top:55px;
	width:7px;height:207px;
	background-image:url(../imagenes/g-prix/G-Prix-linea.png);
	display:block;
}

.linea1{
	float:inherit;
	margin-left:35px;
	margin-right:0px;
	margin-top:-95px;
	width:28px;height:95px;
	background-image:url(../imagenes/g-prix/S-GPRIX-linea-+.png);
	display:none;
	z-index:300;
	cursor:pointer;
}

.linea2{
	float:inherit;
	margin-left:15px;
	margin-right:0px;
	margin-top:-95px;
	width:28px;height:95px;
	background-image:url(../imagenes/g-prix/S-GPRIX-linea-+-1.png);
	display:none;
	z-index:300;
		cursor:pointer;
}

.contenedor-beneficios{
	float:right;
	width:380px;		
}

.titulo-caracteristicas{
	margin-top:-50px;
	margin-left: 91px;
	font-size: 	35px;
}

.textoBeneficio{
	margin-top:120px;
	margin-left: 200px;
	width:290px;
	line-height:18px;	
	text-align: justify;
	font-family: frutiger_57cnregular;
}

.textoBeneficios {
    float: inherit;
    font-size: 17px;
    line-height: 18px;
    margin-top: -10px;
    padding-left: 59px;
    width: 150px;
}

.beneficiosTexto{
	float:left;
	width:300px;
}

.aditivos{
	float:none;
	width: 810px;
	height:290px;
	margin-left:48px;
	margin-top: -5px;
}

.beneficio1, .beneficio2, .beneficio3 {
	float:left;
	width:auto;
	margin-left:0px;		
}

.beneficio3 {
	z-index:300;
}

.imagenbeneficio1,.imagenbeneficio2,.imagenbeneficio3{
	float:inherit;
	margin-top:-30px;
	width:260px;
	height:260px;	
	background-repeat: no-repeat;	
	background-position: center center;
	background-size:100%; 
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	
}

.imagenbeneficio1{
	background-image: url(../imagenes/g-prix/G-Prix-caracteristicas-grafica-detergentes.png);	
}

.imagenbeneficio2{
	background-image: url(../imagenes/g-prix/G-Prix-caracteristicas-grafica-dispersantes.png);	
}

.imagenbeneficio3{
	background-image: url(../imagenes/g-prix/G-Prix-caracteristicas-grafica-inhibidores.png);	
}

.titulobeneficio {
    font-size: 22px;
    height: 25px;
    letter-spacing: normal;
    margin-left: 0px;
    margin-top: -8px;
    width: 150px;
}


.beneficio3 .textoBeneficios{
		background-color: rgba(124, 50, 0, 0.8);
        box-shadow: 1px 1px 5px #7A380F;
	    border-radius: 10px;
	    margin-left: -230px;
	    margin-top: 210px;
	    padding: 9px;
	    width: 180px;
	    height: 82px;
	}

.beneficio2 .textoBeneficios{
		background-color: rgba(124, 50, 0, 0.8);
        box-shadow: 1px 1px 5px #7A380F;
	    border-radius: 10px;
	    margin-left: -230px;
	    margin-top: 210px;
	    padding: 9px;
	    width: 180px;
	}
	
	
.beneficio1 .textoBeneficios{
		background-color: rgba(124, 50, 0, 0.8);
        box-shadow: 1px 1px 5px #7A380F;
	    border-radius: 10px;
	    height: 85px;
	    margin-left: -230px;
	    margin-top: 210px;
	    padding: 9px;
		width: 170px;
	}	

.texto1, .texto2, .texto3{		
		display:block;
	}

/*------DESKTOP GRANDE-*/
@media (min-width: 1024px) {
	
	
}



@media (max-width: 900px) {
	.titulo-caracteristicas{
		margin-top:-95px;
		margin-left: 91px;
		width:631px;
		font-size:27px;
		text-align:right;	
	}
	
	.imagenbeneficio1{
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */
	}
	
	.imagenbeneficio2{
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */
	}
	
	.imagenbeneficio3{
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */
	}
	
	
	.imagenbeneficio3-activo{
		opacity:1;
		filter:alpha(opacity=100); /* For IE8 and earlier */
	}
	
	.activo{
		opacity:1;
		filter:alpha(opacity=100); /* For IE8 and earlier */
	}
	
	.imagenbeneficio2-activo{
		opacity:1;
		filter:alpha(opacity=100); /* For IE8 and earlier */
	}
	
	.division-caracteristicas{
		display:none;
	}
	
	 .logoGprix{
		margin-top: -210px;
		margin-left:10%;
		width:214px ;
		height:112px;
	}
	
	.alineacionTextoBeneficio h2{
		margin-top:30px ;
	}
	
	
.textoBeneficio {
    font-size: 16px;
    line-height: 18px;
    margin-left: 10%;
    margin-top: 70px;
    width: 80%;
}
	
	.franja-Gprixd .columnaPersonaje{
	height: 0;
	}
	.contenidoBeneficios {
	    width: 100%;
	}
	
			
	.beneficio-seccion{
		height: 190px;	
	}	
	
	.beneficio-seccion h1{
		margin-right: 20px;
	}
	

	.beneficios {
		margin-left:35%;
		margin-top: 190px;
		width:120%;		
	}
	
	.beneficio3{
		width: 90%;
		height:240px;
	}
	.titulo-caracteristicas{
		display: none;
	}	
	
	#carruselSuper .span12 {
	       margin: -57px 0 0;
	   }

	.texto1, .texto2, .texto3{
			display:none;
		}
	
	.imagenbeneficio1{
		height:240px; 		
		margin-left:25%;
		margin-top: -60px;
	}	
	
	 .beneficio2 {
		height:240px; 
		float:left;
		width:240px;
		margin-left:10px;
		margin-top:-35px;
		text-align: center;
	}
	
	.beneficio1{
		height:240px; 
		float:left;
		width:240px;
		margin-left:130px;
		margin-top:-35px;
		text-align: center;
	}
		
	.imagenbeneficio3{
		margin-left: -50px;
		margin-top: 1px;	
		height:250px;
	}
	
	.imagenbeneficio2{		
		margin-top: 1px;
	}
	
	/*.beneficio2 .textoBeneficios{
		margin-left: 100px;		
	}*/
	
	.beneficio3 .textoBeneficios{
		background-color: rgba(0, 0, 0, 0);
	    box-shadow: 0 0;
	    margin-left: -180px;
	    margin-top: 165px;
	    padding-left: 0;
		
	}	
	

	
	.beneficio3 .linea1{	
		margin-left:-220px;
		margin-top:105px;		
		cursor:pointer;
		display: none;
	}
	
	.beneficio2 .linea2{	
		margin-left:-215px;
		margin-top:200px;
		display:none; 
		cursor:pointer;
	}
	
	.beneficio2 .textoBeneficios{
		background-color: rgba(0, 0, 0, 0);
	    box-shadow: 0 0;
	    margin-left: 85px;
	    margin-top: -6px;
	    padding-left: 0;
	    text-align: left;
	}
	
	
	.beneficio1 .linea1{	
		margin-left:-200px;
		margin-top:195px;
		display:block; 
		cursor:pointer;
		display: none;
	}
	
	.beneficio1 .textoBeneficios{
		 background-color: rgba(0, 0, 0, 0);
	    box-shadow: 0 0;
	    margin-left: 50px;
	    margin-top: 0px;
	    padding-left: 0;
	    text-align: left;
	}	
	
	
	.aditivos {
	    float: none;
	    height: 290px;
	    margin-left: 10%;
	    margin-top: -5px;
	    width: 90%;
	}
	
	
.aditivos{
	float:none;
	width: 98%;
	height:260px;
	margin-left:8%;
	margin-top: 0px;
}

.beneficio1, .beneficio2, .beneficio3 {
	float:left;
	width:150px;
	margin-left:0px;
	margin-right: 9%;	
	margin-top: 0;	
}

.beneficio3 {
	z-index:300;
}

.imagenbeneficio1,.imagenbeneficio2,.imagenbeneficio3{
	float:inherit;
	margin-top:60px;
	width:160px;
	height:150px;	
	background-repeat: no-repeat;	
	background-position: center center;
	background-size:100%; 
	opacity:1;
	filter:alpha	(opacity=100); /* For IE8 and earlier */
	margin-left: 0;
	
}

.imagenbeneficio1{
	background-image: url(../imagenes/g-prix/G-Prix-caracteristicas-grafica-detergentes.png);	
}

.imagenbeneficio2{
	background-image: url(../imagenes/g-prix/G-Prix-caracteristicas-grafica-dispersantes.png);	
}

.imagenbeneficio3{
	background-image: url(../imagenes/g-prix/G-Prix-caracteristicas-grafica-inhibidores.png);	
}

.titulobeneficio {
    font-size: 22px;
    height: 25px;
    letter-spacing: normal;
    margin-left: 0px;
    margin-top: -8px;
    width: 150px;
}


.beneficio3 .textoBeneficios{
		background-color: rgba(124, 50, 0, 0.8);
        box-shadow: 1px 1px 5px #7A380F;
	    border-radius: 10px;
	    margin-left: 0px;
	    margin-top: 10px;
	    padding: 9px;
	    width: 145px;
	    height: 82px;
	    font-size: 14px;
	}

.beneficio2 .textoBeneficios{
		background-color: rgba(124, 50, 0, 0.8);
        box-shadow: 1px 1px 5px #7A380F;
	    border-radius: 10px;
	    margin-left: 0px;
	    margin-top: 10px;
	    padding: 9px;
	    width: 160px;
	    font-size: 14px;
	}
	
	
.beneficio1 .textoBeneficios{
		background-color: rgba(124, 50, 0, 0.8);
        box-shadow: 1px 1px 5px #7A380F;
	    border-radius: 10px;
	    height: 85px;
	    margin-left: 0px;
	    margin-top: 10px;
	    padding: 9px;
		width: 160px;
		font-size: 14px;
	}	

.texto1, .texto2, .texto3{		
		display:block;
	}
}


/*********SMALL TABLET*********/
@media ( max-width: 620px) {
	 .logoGprix{
		margin-top: -200px;
		margin-left: 10%;
		width:30%;
		height:112px;
	}
	
	.textoBeneficio {
	   font-size: 16px;
	    line-height: 18px;
	    margin-left: 10%;
	    margin-top: 0px;
	    width: 80%;
	}
}


@media ( max-width: 768px) {
	
	.contenidoBeneficios {
	    width: 100%;
	}
	
    .aditivos{
        float:none;
        margin: -170px 33px 0;
        height:290px;
        width: 100%;
    }
	.textoBeneficio{
		margin-top:60px;
		margin-left:-310px;
		width:290px;	
	}
	
	.titulo-caracteristicas{
		margin-top:-95px;
		margin-left: 91px;
		width:631px;
		font-size:27px;
		text-align:right;	
		display:none;
	}
	
	.imagenbeneficio1{
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */
	}
	
	.imagenbeneficio2{
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */
	}
	
	.imagenbeneficio3{
		opacity:0.5;
		filter:alpha(opacity=50); /* For IE8 and earlier */
	}
	
	
	.division-caracteristicas{
		display:none;
	}
	
	 .logoGprix{
		margin-top: -200px;
		margin-left: 10%;
		width:30%;
		height:112px;
	}
	
	.alineacionTextoBeneficio h2{
		margin-top:30px ;
	}
	
		
	.textoBeneficio {
	    font-size: 16px;
	    line-height: 18px;
	    margin: 30px auto;
	    width: 80%;
	}
	
	.beneficio3 .textoBeneficios{
		margin-left: 200px;
	}
	
	.alinearTexto{
		margin-left: -50px;
	}
	
	.beneficio-seccion{
		height: 190px;
	}
	
	.beneficios {
		margin-left:35%;
		margin-top: 190px;
		width:115%;		
	}
	
	.beneficio3{
		width: 100%;
	}
	
	.texto1, .texto2, .texto3{
		display:none;
	}
	
	.imagenbeneficio1{
		margin-left:23%;
		margin-top: -120px; 
	}
	
	
	 .beneficio2, .beneficio1 {
		float:left;
		width:45%;
		margin-left:10px;
		margin-top:-45px;
		text-align: center;		
	}
	
	.imagenbeneficio3{
		margin-left: -50px;
	}
	
	.beneficio3, .beneficio2, .beneficio1{
		width: 100%;
		height: 190px;
		margin-left:0;
		margin-top:0;
		margin-right:0;
			
	}
	
	.imagenbeneficio1,.imagenbeneficio2, .imagenbeneficio3{
		width:40% ;		
		margin-left:0;
		margin-right:0;
		margin-top:-10px;
		opacity:1;		
		filter:alpha(opacity=100); 
	}
	
	
	.texto1, .texto2, .texto3{
		display:block;
	}
	
	.textoBeneficios{
		float:none;
		margin-top:-130px;
		margin-left:110px;		
		width: 150px;
		padding-left:0;
		text-align:left;	
		font-size: 14px;	
	}
	
	.textoBeneficios h2{	
		margin-top:30px;
		font-size: 22px;
		height:20px;
		letter-spacing: -1px;
	}
	
	
	.beneficio3 .textoBeneficios{
		margin-left:100px;
		padding-left:0;
		margin-top:50px;
		width: 40%;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0;
	}
	
	.beneficio2 .textoBeneficios{
		 background-color: rgba(0, 0, 0, 0);
	    box-shadow: 0 0;
	    margin-left: 30%;
	    margin-top: 45px;
	    padding-left: 10%;
	    text-align: left;
	    width: 40%;
	}
	
	.beneficio1 .textoBeneficios{
		margin-left:100px;
		padding-left:20%;
		margin-top:30px;
		width: 50%;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
    	box-shadow: 0 0;
	}  
	
	.textoBeneficios .texto3 h2{
		margin-left: 0px;
		margin-top: 0px; 
	}
	
	.textoBeneficios .texto1 h2{
	margin-top: 0px;
	margin-left: 0px;
	width: 40%;	
	}
	
	.titulobeneficio .titulo1 {
	margin-top: 0px;
	width:100px;
	height:50px;
	border:1px solid blue;
	}
	
	.beneficio3 .textoBeneficios .titulobeneficio{
	//border:1px solid blue;
	}
	
	.aditivos{
		margin-top:-120px;
		width: 80%;
		margin-left: 15%;
	}
	
	.beneficio3, .beneficio2, .beneficio1{
		width: 70%;
		height: 180px;
		margin-left:0;
		margin-top:0;
		margin-right:0;
			
	}
	
	.imagenbeneficio1,.imagenbeneficio2, .imagenbeneficio3{
		width:34% ;
		height:100%;
		margin-left:2%;
		margin-right:0;
		margin-top:0px;
		opacity:1;		
		filter:alpha(opacity=100); 
	}
	
	
	.texto1, .texto2, .texto3{
		display:block;
	}
	
	.textoBeneficios{
		float:none;
		margin-top:-130px;
		margin-left:110px;		
		width: 150px;
		padding-left:0;
		text-align:left;	
		font-size: 14px;	
	}
	
	.textoBeneficios h2{	
		margin-top:15px;
		font-size: 22px;
		height:20px;
		letter-spacing: -1px;
	}
	
	
	.beneficio3 .textoBeneficios{
		margin-left:25%;
		padding-left:15%;
		margin-top:-150px;
		width: 200px;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0;
        font-size: 18px;
        float: inherit;
       
	}
	
	.beneficio2 .textoBeneficios{
		margin-left:25%;
		padding-left:15%;
		margin-top:-150px;
		width: 300px;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
   		box-shadow: 0 0;
   		font-size: 18px; 
   		float: inherit;
	}
	
	.beneficio1 .textoBeneficios{
		margin-left:25%;
		padding-left:15%;
		margin-top:-150px;
		width: 300px;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
    	box-shadow: 0 0;
    	line-height:15px; 
    	font-size: 18px;
    	float: inherit;
	}  
	
}





@media ( max-width: 360px) {
	
	 .contenidoBeneficios{
	width:100%;	
	}
	
	body{
		margin: 0;
		padding: 0; 
	}
	
	.textoBeneficio img{
	display:none;	
}
	

	.beneficio-seccion{
		height: 72px;				
	}
	
	.franja-Gprixd{	
		background-position: 0px 30px;
		background-size:100% 80%; 
	}

	.franja-Gprixi{
		background-position: 0px 30px;
		background-size:100% 80%; 
	}
	
	.logoGprix{
		margin-top: -200px;
		margin-left: 10%;
		width:40%;
		height:100px;
	}
	
	.beneficio-seccion h1{
		margin-top: 25px;
	}
	
	#menuBeneficios{
		background-color: transparent;
	} 
	
	.textoBeneficio{
		margin-left:10% ;
		margin-top:55px;
		width:80%;
		font-size: 12px;
	}
	
	.beneficios{
		margin-left: 30%;
	    margin-top: 210px;
	    width: 190%;
	}
	

	.textoBeneficio h2{
		padding-left: 0;
		margin-left: 0px;
		margin-bottom:5px;
		font-size: 22px;
	}
	.aditivos{
		margin-left: 11%;
	    margin-top: 110px !important;
	    width: 320px;
	}
	
	.beneficio3, .beneficio2, .beneficio1{
		width: 100%;
		height: 90px;
		margin-left:0;
		margin-top:0;
		margin-right:0;
			
	}
	
	.imagenbeneficio1,.imagenbeneficio2, .imagenbeneficio3{
		width:105px ;
		height:100%;
		margin-left:0;
		margin-right:0;
		margin-top:-10px;
		opacity:1;		
		filter:alpha(opacity=100); 
	}
	
	
	.texto1, .texto2, .texto3{
		display:block;
	}
	
	.textoBeneficios{
		float:none;
		margin-top:-130px;
		margin-left:110px;		
		width: 150px;
		padding-left:0;
		text-align:left;	
		font-size: 14px;	
	}
	
	.textoBeneficios h2{	
		margin-top:15px;
		font-size: 16px;
		height:20px;
		letter-spacing: -1px;
	}
	
	
	.beneficio3 .textoBeneficios{
		margin-left:100px;
		padding-left:0;
		margin-top:-100px;
		width: 150px;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0;
        font-size: 16px;
	}
	
	.beneficio2 .textoBeneficios{
		margin-left:100px;
		padding-left:0;
		margin-top:-100px;
		width: 150px;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
   		box-shadow: 0 0;
   		font-size: 16px;
	}
	
	.beneficio1 .textoBeneficios{
		margin-left:100px;
		padding-left:0;
		margin-top:-100px;
		width: 160px;
		text-align: left;
		background-color: rgba(0, 0, 0, 0);
    	box-shadow: 0 0;
    	line-height:15px;
    	font-size: 16px; 
	}  
}

@media ( max-width: 320px) {
.beneficios{
		margin-left: 35%;
	    margin-top: 175px;
	    width: 180%;
	}
	
		.aditivos{
		margin-left: 7%;
	    margin-top: 25px !important;
	    width: 320px;
	}
	
	.logoGprix{
		margin-top: -200px;
		margin-left: 10%;
		width:40%;
		height:100px;
	}
		
	
	.textoBeneficio{
		margin-left:10% ;
		margin-top:25px;
		width:80%;
		font-size: 12px;
	}
	
}





