@CHARSET "UTF-8";
/**********GENERAL**********************/
.fondoLubricantes{
	height: 100%;
	width: 100%;
	background-image: url(../imagenes/g-prix/fondo-gprix.jpg);
	background-repeat: repeat;
	margin-left: 0px;
}

.columnaLubricantes {
    margin-left: 0;
    width: 55%;
}

    .grupo-lubricantes {
    background-image: url("../imagenes/nosotros/grupo-primax.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 641px;
    margin-left: 40px;
    margin-top: -15px;
    width: 490px;
}

.columnaInformacionLub {
    float: left;
    width: 45%;
}


.nosotrosPrincipalLub {
}
.textoContenidoLub {
    font-size: 15px;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 0px;
    width: 330px;
}

.textoContenidoLub2 {
    font-size: 14px;
    line-height: 18px;
    margin-left: 40px;
    margin-top: 0px;
    width: 330px;
}

.franja-lubricantesi {
    background-image: url("../imagenes/tiendaslisto/tiendas-listo-naranja-i.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 281px;
    max-width: 940px;
    width: 100%;
}

.franja-lubricantesd {
    background-image: url("../imagenes/tiendaslisto/tiendas-listo-naranja-d.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 281px;
    max-width: 940px;
    width: 100%;
}

.tituloLubricantes {
    height: 118px;
    margin-top: 36px;
    max-width: 940px;
    width: 100%;
}



/*------DESKTOP GRANDE-*/
@media (min-width: 1024px) {


}

/*****************************TABLET*************************************************************************************************/

/* RESPONSIVE CSS TABLET
    -------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 900px) {
    .fondoEncuentranos .tituloLubricantes {
        height: 200px;
    }


}

/*********SMALL TABLET*********/
@media ( max-width: 767px) {
    .grupo-lubricantes {
        width: 100%;
        margin-left: 70px;
        height: 120px;
        margin-top: -10px;
    }
    .fondoEncuentranos .tituloNosotros {
        height: 200px;
    }

    .columnaInformacionLub {
        width: 90%;
    }

   .textoContenidoLub,  .textoContenidoLub2 {
        width: inherit;
       font-size: 11px;
       line-height: 12px;
    }

   .textoContenidoLub2 h2 {
       line-height: 15px;
   }

    .submenuLubricantes {
        margin-top: -40px;
    }

    .tituloLubricantes {
        height: 120px;
    }

    #carruselLubricantes .carousel-inner {
        margin-top: -40px;
    }
    .textoContenidoLub {
        font-size: 11px;
        line-height: 14px;
    }
}

@media ( max-width: 360px) {
    .fondoEncuentranos .tituloNosotros {
        height: 100px;
    }

    .columnaLubricantes {
        height: 105px;
    }




}

@media ( max-width: 320px) {




}

@media ( max-width: 219px) {

}
.tes:h