@CHARSET "UTF-8";
/**********GENERAL**********************/
.fondoLubricantes{
	height: 100%;
	width: 100%;
	background-image: url(../imagenes/g-prix/fondo-gprix.jpg);
	background-repeat: repeat;
	margin-left: 0px;
}

.columnaLubricantes {
    margin-left: 0;
    width: 55%;
}

    .grupo-lubricantes {
    background-image: url("../imagenes/nosotros/grupo-primax.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 641px;
    margin-left: 29px;
    margin-top: -26px;
    width: 510px;
}

.columnaInformacionLub {
    float: left;
    width: 45%;
}


.nosotrosPrincipalLub {
}
.textoContenidoLub {
    font-size: 15px;
    line-height: 20px;
    margin-left: 40px;
    margin-top: 0px;
    width: 330px;
}

.textoContenidoLub2 {
    font-size: 14px;
    line-height: 18px;
    margin-left: 40px;
    margin-top: 0px;
    width: 330px;
}

.franja-lubricantesi {
    background-image: url("../imagenes/tiendaslisto/tiendas-listo-naranja-i.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 281px;
    max-width: 940px;
    width: 100%;
}

.franja-lubricantesd {
    background-image: url("../imagenes/tiendaslisto/tiendas-listo-naranja-d.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 281px;
    max-width: 940px;
    width: 100%;
}
