.contenidos-icon { background-image: url(images/contenidos.png) !important; }
.x-btn-large .contenidos-icon { background-image: url(images/contenidos32.png) !important; }
.contenidos-shortcut { background-image: url(images/contenidos48.png) !important; }
#contenidos-nav-panel li { margin-bottom:5px; }
.save-icon{background:transparent url(images/add.png) 0 0 no-repeat !important;}
.delete-icon{background:transparent url(images/delete.png) 0 0 no-repeat !important;}
.print-icon{background:transparent url(images/printer.png) 0 0 no-repeat !important;}
.send-icon{background:transparent url(images/email_go.png) 0 0 no-repeat !important;}
