<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Primax :: Ecuador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="PRIMAX Ecuador ofrece a sus clientes: combustibles líquidos, lubricantes, ventas coportativas, ventas a industria."/>
    <meta name="keywords" content="Primax, ecuador, 10, gasolina, ford escape, gana carro, gana carro gasolina" />
    <meta property="og:title" content="PRIMAX Ecuador | Todo para seguir"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.primax.com.ec/"/>
    <meta property="og:image" content="http://www.primax.com.ec/imagenes/logo-primax.png"/>
    <meta property="og:site_name" content="PRIMAX Ecuador | Todo para seguir"/>
    <meta property="og:description" content="PRIMAX Ecuador,  Por cada  $10  de consumo en gasolina,  recibes un cupón para participar en los sorteos de 5 Ford Escape."/>       
    <link rel="icon" type="image/png" href="../imagenes/favicon.ico" />
    
    <link href="./css/boot/bootstrap.css" rel="stylesheet" />
    <link href="./css/boot/bootstrap-responsive.css" rel="stylesheet" />   

    <link href="./css/estilo.css?frefresh=45646" rel="stylesheet" />
    <link href="./css/beneficios.css?frefresh=4532321" rel="stylesheet" />
     <link href="./css/tiendas.css?frefresh=45398945" rel="stylesheet" /> 
    
     <link href="./css/servicios.css" rel="stylesheet" />
    <link href="/css/encuentranos.css" rel="stylesheet" />    
    
    
    <script src="./js/maps.js"></script>
    <script src="./assets/js/jquery.js"></script>   
    <script src="./js/bold/easytabs.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/regular/easytabs.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/plugin/jquery.scrollTo-min.js" type="text/javascript" charset="utf-8"></script>  
  	<script type="text/javascript" src="./js/carusel/carouFredSel.js"></script>
  
<script>
function movimiento(pos){	
	var $a = $("#contenedor2");
	$a.stop().scrollTo('div.'+pos, {duration:1000});
}
</script>   			
	 <style type="text/css">
		 .image_carousel {		
		 	float:left;
		}
	
		.image_carousel img {
			padding: 0px;
			margin: 0px;
			display: block;
			float: left;
		}
				
		.clearfix {
			float: none;
			clear: both;
		}
	 
@font-face {
	font-family: 'frutiger_57cnregular';
	src: url('./css/regular/ufonts.com_frutiger_57_condensed-webfont.eot');
	src:
		url('./css/regular/ufonts.com_frutiger_57_condensed-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('./css/regular/ufonts.com_frutiger_57_condensed-webfont.woff')
		format('woff'),
		url('./css/regular/ufonts.com_frutiger_57_condensed-webfont.ttf')
		format('truetype'),
		url('ufonts.com_frutiger_57_condensed-webfont.svg#frutiger_57cnregular')
		format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {	
	font-family: 'frutigerbold';
    src: url('./css/bold/frutiger_67_bold_condensed-webfont.eot');
    src: url('./css/bold/frutiger_67_bold_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('./css/bold/frutiger_67_bold_condensed-webfont.woff') format('woff'),
         url('./css/bold/frutiger_67_bold_condensed-webfont.ttf') format('truetype'),
         url('./css/bold/frutiger_67_bold_condensed-webfont.svg#frutigerbold') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
	
</style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">   
  </head>
  <body style="background:#EAEAEA;" >
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper" style="overflow: hidden;">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container" >
        <div class="navbar navbar-inverse"  >
          <div class="navbar-inner" >
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" id="menu">
            	<img src="./imagenes/header/smartphone-menu.png" />                            
            </button>
            	<img src="./imagenes/header/hader-logo-primax.png"  onclick="movimiento('row_home');verificarFooter(1);$('#menu').click();" class="logo-superior" onclick="$('#menu').click();" />
            <div class="nav-collapse collapse" >
              <ul class="nav nav-cabecera" >
                <li onclick="movimiento('row_home');verificarFooter(1);$('#menu').click();" id="estado1"  >                	
                	<a class="home" >Home</a>
                </li>
                <li onclick="movimiento('fondo-nosotros');verificarFooter(0);$('#menu').click();$('#btn-empresa').click();" id="estado2" >
	               <a class="nosotros"  >Nosotros</a>
                </li>                
                <li onclick="movimiento('fondoGprix');verificarFooter(0);$('#menu').click();$('#btn-beneficios').click();" id="estado3" >                    
                	<a class="super-g-prix" >Super G-Prix</a>
                </li>
                <li onclick="movimiento('fondoTiendas');verificarFooter(0);$('#menu').click();$('#btn-tiendas').click();" id="estado4" >
	                <a class="tiendas" >Tiendas Listo!</a>
                </li>
                <li onclick="movimiento('fondoLubricantes');verificarFooter(0);$('#menu').click();" id="estado5" >
	                <a class="lubricantes" >Lubricantes</a>
                </li>
                <li onclick="movimiento('fondoServicios');verificarFooter(0);$('#menu').click();" id="estado6" >	                
	                <a class="servicios" >Servicios Corporativos</a>
                </li>
                <li onclick="movimiento('fondoEncuentranos');verificarFooter(0);$('#menu').click();" id="estado7" >
                	<a class="encuentranos" >Encuéntranos</a>
                </li>
                <li onclick="movimiento('fondo-seccion8');verificarFooter(0);$('#menu').click();" id="estado8" >                	
                	<a class="contactenos" >Contáctanos</a>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <div id="contenedor2" >		
			<div class="row_home" style="overflow: hidden;">
				 <div id="alinearAbajo" >
					<div id="imagenHome"></div>
				</div> 
			</div>					 
		<div class="fondo-nosotros" style="overflow: hidden;">
		 <div  class="container"  >		
			   <div class="carousel slide" id="myCarousel" >				
				<div class="tituloNosotros" >
					<h1>Nosotros</h1>
					<div class="alinearmenuNosotros">
					<ul class="nav nav-tabs"  id="menuNosotros">
						<li id="btn-empresa" data-target="#myCarousel" data-slide-to="0" class="active"><a href="#" data-toggle="tab" >Empresa </a></li>
						<li ><span class="linea-division"></span></li>
						<li id="btn-mision"  data-target="#myCarousel" data-slide-to="1"><a style="display:none;" href="#" data-toggle="tab">Misión</a></li>						
						<li id="btn-vision"  data-target="#myCarousel" data-slide-to="2"><a style="display:none;" href="#" data-toggle="tab">Visión</a></li>
						<li id="btn-valores" data-target="#myCarousel" data-slide-to="3"><a style="display:none;" href="#" data-toggle="tab">Valores</a></li>
						<li data-target="#myCarousel" data-slide-to="4"><a href="#" data-toggle="tab">Historia </a></li>
						<li  ><span class="linea-division"></span></li>
						<li data-target="#myCarousel" data-slide-to="5" ><a href="#" data-toggle="tab">Presencia Internacional </a></li>
					</ul>
					</div>	 									
				</div>             
                
                <div class="carousel-inner"  >
                 <!-- item 0 -->
                  <div class="item active fondo-secciond" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">                  
                    <div class="span6 columnaPersonaje"  >
						<div class="personaje1" ></div>
					</div>
                    <div class="columnaInformacion"  >													
								<div class="span5 submenuNosotros">		
									<ul class="nav nav-tabs" id="opciones" >
										<li ><a href="#" onclick="$('#btn-mision').click();" >Misión </a></li>
										<li ><span class="linea-division"></span></li>									
										<li ><a href="#"  onclick="$('#btn-vision').click();" >Visión </a></li>
										<li ><span class="linea-division"></span></li>
										<li ><a href="#" onclick="$('#btn-valores').click();"> Valores  </a></li>
									</ul>
								</div>																
								<div class="row tab-content">
									<div class="tab-pane active"  >																		    
										<div class="textoContenido">
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo 
												ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
												 texto 1
										</div>
										<div class="indicador1"></div>
									</div>									
								</div>	
                     </div>                      
                  </div>  
                  </div>
                  <div class="item fondo-seccioni" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">    
                  <!-- <img src="" alt=""> -->                 
                    <div class="span6 columnaPersonaje"  >						
						<div class="personaje1" ></div>
					</div>
                    <div class="columnaInformacion" >		
								<div class="span5 submenuNosotros">		
									<ul class="nav nav-tabs" id="opciones" >
										<li class="active" ><a href="#" onclick="$('#btn-mision').click();" >Misión </a></li>
										<li ><span class="linea-division"></span></li>									
										<li ><a href="#"  onclick="$('#btn-vision').click();" >Visión </a></li>
										<li ><span class="linea-division"></span></li>
										<li ><a href="#" onclick="$('#btn-valores').click();"> Valores  </a></li>
									</ul>
								</div>									
								<div class="tab-content">									
									<div class="tab-pane active" >																		
									<div class="textoContenido">
												<H2>MISIÓN</H2>
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo 
												ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
												 texto 1
										</div>
									<div class="indicador2"></div>
									</div>																
								</div>													
                     </div>
                  </div>
                  </div>
                 <!-- item 2   -->
						<div class="item fondo-secciond">
							<div class="carousel-caption"
								style="background-color: transparent; top: 0px;">
								<div class="span6 columnaPersonaje">
									<div class="personaje2"></div>
								</div>
								<div class=" columnaInformacion">
									<div class="span5 submenuNosotros">
										<ul class="nav nav-tabs" id="opciones">
											<li  ><a href="#" onclick="$('#btn-mision').click();" >Misión </a></li>
											<li ><span class="linea-division"></span></li>									
											<li class="active"><a href="#"  onclick="$('#btn-vision').click();" >Visión </a></li>
											<li ><span class="linea-division"></span></li>
											<li ><a href="#" onclick="$('#btn-valores').click();"> Valores  </a></li>
										</ul>
									</div>
									<div class="tab-content">
										<div class="tab-pane active">
											<div class="textoContenido2">
												<h2>VISIÓN</h2>
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
												Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
												natoque penatibus et magnis dis  texto 3
											</div>
											
											<div class="indicador2 indicadorVision"></div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item fondo-seccioni" >
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">                  
                    <div class="span6 columnaPersonaje"  >						
						<div class="personaje3" ></div>	
					</div>
                    <div class="columnaInformacion" >															
								<div class="span5 submenuNosotros">		
									<ul class="nav nav-tabs" id="opciones" >
										<li  ><a href="#" onclick="$('#btn-mision').click();" >Misión </a></li>
										<li ><span class="linea-division"></span></li>									
										<li ><a href="#"  onclick="$('#btn-vision').click();" >Visión </a></li>
										<li ><span class="linea-division"></span></li>
										<li class="active"><a href="#" onclick="$('#btn-valores').click();"> Valores  </a></li>
									</ul>
								</div>	
								<div class="tab-content">
									<div class="tab-pane active"  >
										<h2 class="textoValores">VALORES</h2>
										<ul class="textoContenido3">				
												<li>Lorem ipsum dolor</li>
												<li>Lorem ipsum dolor </li>
												<li>Lorem ipsum dolor </li>
												<li>Lorem ipsum dolor </li>
												<li>Lorem ipsum dolor </li>										
											</ul>											
											<div class="indicador2 indicadorValores"></div>
									</div>																
								</div>		
                     </div>                      
                  </div>
                  </div>
                 <!-- item 3 -->
             
                  <div class="item fondo-secciond" >
  					<div class="carousel-caption">
                    <div  id="timeline" >
                        <div class="timeline-content" >
	                    	<div class="fechas" id="TimeNormal2 historia_carrousel">
                                <div><button class="btn-fechas fecha" title="Compra Shell Perú" data-placement="bottom" data-toggle="tooltip" type="button"  ><img class="encendido" src="./imagenes/nosotros/nosotros-historia-2004.png" /> </button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú" data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2005.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Compra red E/S Shell Ecuador" data-placement="bottom" data-toggle="tooltip" type="button"><img src="./imagenes/nosotros/nosotros-historia-2006.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2007-sep.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2007-nov.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2008-ene.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2008-sep.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2008-dic.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2009.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2010.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2011.png" /></button></div>
                                <div><button class="btn-fechas fecha" title="Nace Primax Perú"  data-placement="bottom" data-toggle="tooltip" type="button"  ><img src="./imagenes/nosotros/nosotros-historia-2013.png" /></button></div>
                            </div>
                            <div class="controlI"></div>
                            <div class="controlD"></div>
                        </div>
                    </div>
                  </div>
                  </div>
                  <!-- fin item 3 -->

                  <div class="item fondo-seccioni" >                 
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">                  
                    <div class="span6 columnaPersonaje"  >						
						<div class="presencia" ></div>	
					</div>
                    <div class="columnaInformacion" >													
								<div class="tab-content">
									<div class="tab-pane active"  >										
										<div class="textoContenido presenciaInternacional">
										<h2 id="presenciaTexto">PRESENCIA INTERNACIONAL</h2>											
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo 
												ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
												dis parturient montes, nascetur ridiculus mus. 
												 texto 3											
										</div>
										<div class="indicador3"></div>										
									</div>																
								</div>		
                     </div>                      
                  </div>
                  </div>
                </div>                
               <a class="left carousel-control"  href="#myCarousel" data-slide="prev"></a>
               <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>                
              </div>
			</div>			
			</div>
		<!-- inicio-->	
		
		<!-- SECCION Beneficios -->
		<!-- SECCION 3 -->
		<div class="row fondoGprix" style="overflow: hidden;" >
		<div  class="container"  >		
			   <div class="carousel slide" id="carruselSuper" >				
				<div class="tituloNosotros beneficio-seccion" >
					<h1>Super G-Prix</h1>
					<div class="alinearmenuNosotros">
					<ul class="nav nav-tabs"  id="menuBeneficios">
						<li data-target="#carruselSuper" data-slide-to="0" class="active" ><a href="#" data-toggle="tab" >Beneficios</a></li>
						<li><span class="linea-division"></span></li>
						<li  data-target="#carruselSuper" data-slide-to="1"><a href="#" data-toggle="tab">Características de los aditivos</a></li>
					</ul>
					</div>	 									
				</div>             
                
                <div class="carousel-inner"  >
                 <!-- item 0 -->
                  <div class="item active franja-Gprixd" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">                  
                    <div class="span6 columnaPersonaje"  >
						<div class="beneficios" ></div>
					</div>
                    <div class="columnaInformacion" >										
						<div class="row tab-content">
							<div class="tab-pane active "  >																										    
								<div class="textoBeneficio">									
										<H2>BENEFICIOS</H2>
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo 
										ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
										dis parturient montes, nascetur ridiculus mus. 
										Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1
								</div>	
								<div class="logoGprix"></div>								
							</div>									
						</div>	
                     </div>                      
                  </div>  
                  </div>
                  <div class="item franja-Gprixi" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">    
                  <!-- <img src="" alt=""> -->                 
                    <div class="span12"  >
                    <h2 class="titulo-caracteristicas">CARACTERÍSTICAS</h2>
                    			<div class="tab-content">		
                    				<div class="tab-pane active" >
											<div class="aditivos">
												<div class="beneficio3">														
													<div class="imagenbeneficio1" ></div>		
													<div class="linea1" onclick="desplegar(1)" ></div>
													<div class="textoBeneficios texto1">
														<h2 class="titulobeneficio titulo1">DETERGENTES:</h2>
														Remueve depósitos en el motor.
													</div>
													
												</div>
												<div class="division-caracteristicas"></div>
												<div class="beneficio2">
													<div class="imagenbeneficio2"></div>													
													<div class="linea2" onclick="desplegar(2)"></div>
													<div class="textoBeneficios texto2">
														<h2 class="titulobeneficio">DISPERSANTES:</h2>
														Evita la formación de depositos en el motor
													</div>
													
												</div>
												<div class="division-caracteristicas"></div>
												<div class="beneficio1">
													<div class="imagenbeneficio3"></div>													
													<div class="linea1" onclick="desplegar(3)"></div>
													<div class="textoBeneficios texto3">
														<h2 class="titulobeneficio">INHIBIDORES:</h2>
														Evita que el motor se dañe por la acción de los gases de
														la combustion
													</div>
													
												</div>
											</div>
										</div>						
								</div>
					</div>                     
                  </div>
                  </div>
               
                </div>                
               <a class="left carousel-control"  href="#carruselSuper" data-slide="prev"></a>
               <a class="right carousel-control" href="#carruselSuper" data-slide="next"></a>                
              </div>
			</div>		
		</div>	
		
		
		<!-- fin-->
		<!-- inicio-->
		<!-- SECCION Tiendas -->
		
		<div class="row fondoTiendas" style="overflow: hidden;">
			<div  class="container"  >		
			   <div class="carousel slide" id="carruselTiendas" >				
				<div class="tituloNosotros tiendas-seccion" >
					<h1>Tiendas Listo!</h1>
					<div class="alinearmenuNosotros">
					<ul class="nav nav-tabs"  id="menuBeneficios">
						<li id="btn-tiendas" style="display:none;" data-target="#carruselTiendas" data-slide-to="0" class="active"><a href="#" data-toggle="tab" >Intro</a></li>
						<li data-target="#carruselTiendas" data-slide-to="1" ><a href="#" data-toggle="tab" >Menú</a></li>
						<li ><span class="linea-division"></span></li>
						<li data-target="#carruselTiendas" data-slide-to="2"><a href="#" data-toggle="tab">Promociones</a></li>
					</ul>
					</div>	 									
				</div>             
                
                <div class="carousel-inner"  >
                 <!-- item 0 -->
                  <div class="item active franja-tiendasd" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">                  
	                    <div class="span6 columnaPersonaje"  >
							<div class="mesera" ></div>
						</div>
	                    <div class="columnaInformacion" >										
							<div class="row tab-content">
								<div class="tab-pane active "  >			
									<div class="iconosTiendas"></div>						
								</div>									
							</div>	
	                     </div>                      
	                  </div>  
                  </div>
                  <!-- item 1 -->
                  <div class="item franja-tiendasi" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;"> 
  						<div class="span6 columnaPersonaje columnaRecuadro"  >
							<div class="recuadro" >
								<div class="nombre-menu">LOMO Y TOCINO</div>
								<div class="imagen-menu"> </div>
								<div class="descripcion-menu">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo 
										ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
										dis parturient montes, nascetur ridiculus mus. 
										Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1
								 </div>
								<div class="linea-menu"> </div>
								<div class="precio-menu">
										<div class="valor">$3.50</div>		
								</div>
							
							</div>
							<div class="logo-tiendas" >
								
							</div>
						</div>  					   
                    	<div class="columnaInformacion columna-opciones-menu" >										
							<div class="row tab-content">
								<div class="tab-pane active ">
									<div class="contenedor-Menu">
										<div class="opcion" onclick="getInformacion('id1');">
											<div class="menu1"></div>
											<div class="nombre">nombre 1</div>
										</div>
										<div class="opcion" onclick="getInformacion('id2');">
											<div class="menu2"></div>
											<div class="nombre">nombre 2</div>
										</div>
										<div class="opcion" onclick="getInformacion('id3');">
											<div class="menu3"></div>
											<div class="nombre">nombre 3</div>
										</div>
										<div class="opcion" onclick="getInformacion('id4');">
											<div class="menu4"></div>
											<div class="nombre">nombre 4</div>
										</div>
										<div class="opcion" onclick="getInformacion('id5');">
											<div class="menu5"></div>
											<div class="nombre">nombre 5</div>
										</div>
										<div class="opcion" onclick="getInformacion('id6');">
											<div class="menu6"></div>
											<div class="nombre">nombre 6</div>
										</div>
										<div class="opcion" onclick="getInformacion('id7');">
											<div class="menu7"></div>
											<div class="nombre">nombre 7</div>
										</div>
										<div class="opcion" onclick="getInformacion('id8');">
											<div class="menu8"></div>
											<div class="nombre">nombre 8</div>
										</div>
									</div>				
							</div>						
						</div>                   
                  </div>
                  </div>               
               </div>               
               <!-- item 2 -->
                  <div class="item franja-tiendasd" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">    
	                  <!-- <img src="" alt=""> -->                 
	                    <div class="span12"  >	                    
	                    	<div class="tab-content">		
	                    		<div class="tab-pane active" >
	                    			<div class="contenedor-promociones timeline-content">
				                    	<div class="fechas" id="TimeNormal2 historia_carrousel">
			                                <div><a href="#myModa1" role="button" class="promocion1" data-toggle="modal" ></a></div>										
											<div><a href="#myModa2" role="button" class="promocion2" data-toggle="modal"></a></div>
											<div><a href="#myModa3" role="button" class="promocion3" data-toggle="modal"></a></div>											
			                            </div>
			                            <div class="controlI"></div>
			                            <div class="controlD"></div>				
										<div id="myModa1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div data-dismiss="modal" aria-hidden="true" class="equis"></div>
										  <div class="contenedor-Modal promocion1"></div>
										</div>
										
										<div id="myModa2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div data-dismiss="modal" aria-hidden="true" class="equis"></div>
										  <div class="contenedor-Modal promocion2"></div>
										</div>
										
										<div id="myModa3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div data-dismiss="modal" aria-hidden="true" class="equis"></div>
										  <div class="contenedor-Modal promocion3"></div>
										</div>
										
									</div>		
								</div>						
							</div>
						</div>                    
	                  </div>
                  </div>
                </div>                
               <a class="left carousel-control"  href="#carruselTiendas" data-slide="prev"></a>
               <a class="right carousel-control" href="#carruselTiendas" data-slide="next"></a>                
              </div>
			</div>		
		</div>	
		<!-- INICIO SERVICIOS -->
		<!-- SECCION 5 -->		
		<div class="row fondoServicios">
			<div  class="container"  >		
			   <div class="carousel slide" id="carruselServicios" >				
				<div class="tituloNosotros servicios-seccion" >
					<h1>Servicios Corporativos</h1>
					<div class="alinearmenuNosotros">
						<ul class="nav nav-tabs menuServicios"  id="menuServicios">						
							<li data-target="#carruselServicios" data-slide-to="0" class="active"><a href="#" data-toggle="tab" >PRIMAX Card Plus</a></li>
							<li ><span class="linea-division-servicios"></span></li>
							<li data-target="#carruselServicios" data-slide-to="1"><a href="#" data-toggle="tab">Combustibles Industriales</a></li>
						</ul>
					</div>	 									
				</div>             
                
                <div class="carousel-inner"  >
                 <!-- item 0 -->
                  <div class="item active franja-serviciosd" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;">                  
	                    <div class="span6 columnaPersonaje columnaCarplus"  >
							<div class="cardplus" ></div>
						</div>
	                    <div class="columnaInformacion texto-cardplus" >										
							<div class="row tab-content">
								<div class="tab-pane active "  >			
										<div class="texto-servicos-cardplus">
											<h2>PRIMAX Card Plus</h2>
											Es una tarjeta de consumo electrónica a través de 
											con la cual podrás obtener una línea de crédito disponible 
											para el abastecimiento de combustible y productos de la red 
											PRIMAX; el la misma que se alinea a un sistema de control, el 
											cual garantiza seguridad y control a su flota en más de 50 
											estaciones de servicio a nivel nacional.<br><br/>
											
											<div class="ingresar">
												Ingrese a: <div class="icocard" onclick="window.open('http://200.24.202.131/app.php/#!inicio');" >   </div> 
											</div> 
										</div>					
								</div>									
							</div>	
	                     </div>                      
	                  </div>  
                  </div>
                  <!-- item 1 -->
                  <div class="item franja-serviciosi" >                  
  					<div class="carousel-caption" style="background-color: transparent;top:0px;"> 
  						<div class="span6 columnaPersonaje"  >
  							<div class="servicios-hombre" ></div>
						</div>  					   
                    	<div class="columnaInformacion" >										
							<div class="row tab-content">
								<div class="tab-pane active ">
										<div class="texto-servicos-combustibles">
											<h2>COMBUSTIBLES INDUSTRIALES</h2>
											COMBUSTIBLES INDUSTRIALES OILTRADER es la empresa 
											comercializadora de combustible de PRIMAX para la 
											industria. Está  Se encuentra presente desde 1998 
											ocupando el segundo lugar de participación de mercado.
											<br>
											Industria. Está  Se encuentra presente desde 1998 
											ocupando el segundo lugar de participación de mercado.
											<br/> 
										</div>	
										<div class="indicador-combustible"></div>	
																				
								</div>						
							</div>                   
                  		</div>
                  	</div>               
               		</div>
               	</div>              
               <a class="left carousel-control"  href="#carruselServicios" data-slide="prev"></a>
               <a class="right carousel-control" href="#carruselServicios" data-slide="next"></a>                
              </div>
			</div>	
		</div>
		<!-- -FIN SERVICIOS- -->
		<!-- seccion encuentranos -->
		<!-- SECCION 6 -->
		<div class="row fondoEncuentranos">
			<div  class="container"  >				  		
				<div class="tituloNosotros encuentranos-seccion" >
					<h1>Encuentranos</h1>					
				</div>
                 <!-- item 0 -->
                  <div class=" franja-serviciosd" >
	                    <div class="span6 columnaPersonaje columnaCarplus"  >
							
							<div class="form-encuentranos">
					<div class="one-side-float">
						<p>Selecciona la provincia y la ciudad</p>
						<div class="btn-group display-block">
							<button id="option_provincia" class="btn opcion">Provincia..</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul id="select_provincias" class="dropdown-menu">
								<?php foreach( $provincias  as $key => $provincia ){?>
									<li><a id="provincia_<?php echo $key; ?>" tabindex="-1" href="#"><?php echo $provincia->provincia?></a></li>
								<?php }?>
							</ul>
						</div>
					
						<div class="btn-group margin-zero">
							<button id="option_ciudad" class="btn opcion">Ciudad....</button>
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul id="select_ciudades" class="dropdown-menu"></ul>
						</div>
					</div>
					<div class="other-side-float">
						<p class="text-left">Elige el servicio que necesitas</p>												
						<button type="button" class="btn btn-primary servicios servicio1" data-toggle="button"></button>
						<button type="button" class="btn btn-primary servicios servicio2" data-toggle="button"></button>
						<button type="button" class="btn btn-primary servicios servicio3" data-toggle="button"></button>
					</div>
				</div>				
				<div class="mapa-content">
					<div id="map_canvas"></div>
				</div>
							
							
							
						</div>
	                    <!-- <div class="columnaInformacion texto-cardplus" >										
							<div class="row tab-content">
								<div class="tab-pane active "  >			
										<div class="texto-servicos-cardplus">
											
											
											 
										</div>					
								</div>									
							</div>	
	                     </div>                      
	                   -->
                  </div>
                  
                  
               	             
                               
              
			</div>	
		</div>
		<!-- fin  -->
		<!-- SECCION 7 -->
		<div class="row fondo-seccion3">
			<img src="./imagenes/home/home-foto-01.png" class="img-home" />
			seccion 7
		</div>
		
		<!-- SECCION 8 -->
		<div class="row fondo-seccion3">
			
		</div>
	</div> 			
    
    <div id="footer-promociones" class="navbar-wrapper2"  style="display:block;">   
       <div class="container" >
		        <div class="promociones-container">
		        <div class="promociones-centrar">
			        <div class="img-promocion">
			        	Hoy en PRIMAX
			        </div>
			        <div class="promoContenedorMobile">		     
			        <div class="flechaI"></div>			        
			        <div class="image_carousel">
						<div id="foo2">
							<img src="./imagenes/home/home-foto-02.jpg"  width="134" height="96" />
					        <img src="./imagenes/home/home-foto-03.jpg"  width="134" height="96" />
					        <img src="./imagenes/home/home-foto-04.jpg"  width="134" height="96" />
					        <img src="./imagenes/home/home-foto-05.jpg"  width="134" height="96" />
				        	
				        	 <img src="./imagenes/home/home-foto-02.jpg" width="134" height="96" />
					        <img src="./imagenes/home/home-foto-03.jpg"  width="134" height="96" />
					        <img src="./imagenes/home/home-foto-04.jpg"  width="134" height="96" />
					        <img src="./imagenes/home/home-foto-05.jpg"  width="134" height="96" /> 
						</div>						
						<div class="clearfix"></div>		
					</div>
					<div class="flechad"></div>
			        </div>
			        </div>			    
		        </div>
	               
	        <div class="promociones-container">
		        <div class="promociones-centrar">
		        
			        <a class="yt" href="#" ></a>
			        <a class="fb" href="#" ></a>
			        <a class="tw" href="#" ></a>		        	
		        	        
	        </div>          
	      </div>      	
      </div>   
      </div>
      <div id="footer"  >   
       <div class="container"  >       			
	          	 	<a class="yt2" href="#" ></a>
			        <a class="fb2" href="#" ></a>
			        <a class="tw2" href="#" ></a>	          	
	          		<div class="logo-misiva"  onclick="window.open('http://www.misiva.com.ec');"></div>
	          	
       </div>
       </div>      
    <!-- /.container -->  
    <script src="./js/boot/bootstrap.min.js"></script>    
    
        
    <script>
$(function () {
    var numeroPromociones = 4;
    if ($('body').width() > 702)
        numeroPromociones = 4;
    else
        numeroPromociones = 1;
    var promocionTemporal = 0;

    $('.carousel').carousel({
        interval: false
    });

    $('.btn-fechas').tooltip({delay: {   hide: 500 }});
    centrarHome();


    //alert( "Screen: "+window.innerWidth+" - "+ window.innerHeight+" Body: "+$('body').width() +" - "+ $('body').height());

    //mostrar prommociones
    //setTimeout("cambiarPromociones($('body').width())", 500);

    cambiarPromociones($('body').width())
    $(window).resize(function () {
        if (numeroPromociones != promocionTemporal) {
            cambiarPromociones($('body').width());
            promocionTemporal = numeroPromociones;
        }
        if ($('body').width() > 702)
            numeroPromociones = 4;
        else
            numeroPromociones = 1;

        centrarHome();
    });

    /*
     * selectTextOff; plugin para evitar la selección en los elementos seleccionados por jQuery
     * 22/08/2011
     * MIT/GNU
     */
    (function ($) {
        $.fn.extend({
            selectOff: function () {
                this.attr('unselectable', 'on').css({
                    'KhtmlUserSelect': 'none',
                    'MozUserSelect': 'none'
                }).each(function (i, o) {
                            o["onselectstart"] = o['onmousedown'] = function () {
                                return false;
                            }
                        });
            }
        });
    })(jQuery);

    //evitamos la seleccion involuntaria de textos
    $("#timeline").selectOff();

    //historia

    //fechas
    var positionFecha = 1;
    $(".controlI").hide();

    var anchoFechas = $('.fecha').width() + 50;

    $('.fechas').width(( anchoFechas ) * $('.fechas').children().size());


    $(".controlI").click(function () {
        if (positionFecha > 1) {
            $(".fechas").animate({ "left": "+=" + anchoFechas + "px" }, "fast");
            positionFecha--;
        } else
            positionFecha = 1;
    });

    $(".controlD").click(function () {
        console.log (positionFecha)
        if ((positionFecha + 5) <= $('.fechas').children().size()) {
            $(".fechas").animate({ "left": "-=" + anchoFechas + "px" }, "fast");
            positionFecha++;
            if (positionFecha > 1) $(".controlI").show();
        }
        if ((positionFecha + 1) == $('.fechas').children().size()) $(".controlD").hide();

    });
    //fin historia


    //sincronizador botones con menu
    $('.slide').carousel().on('slid', function (e) {
        var opcionActiva = 0;
        $(this).children('.carousel-inner').children().each(function (index) {
            if ($(this).hasClass('active')) {
                //cambio en el menu
                opcionActiva = index;
            }
        })
        var contador = 0
        $(this).children('.tituloNosotros').children(1).children(0).children().each(function (index) {
            if (typeof $(this).attr("data-slide-to") !== 'undefined') {
                $(this).removeClass("active")
                // console.log (contador)
                if (opcionActiva == contador) {
                    $(this).addClass("active");
                }
                //dejo prendido la primera empresa
                if ((opcionActiva >= 1) && (opcionActiva <= 3))
                    if (typeof $(this).attr("id") !== 'undefined') {
                        if ($(this).attr("id") == "btn-empresa")
                            $(this).addClass("active");
                    }
                contador++;
            }
        })
    })
    //fin sincronizador botones con menu

});

//cambiar prodctos en tiendas
var menuTiendas = new Object();
menuTiendas.id1 = new Array("Nombre1", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1 Descripcion1", "$3.50", "tiendas-listo-menu-cheesedog.jpg"), menuTiendas.id2 = new Array("Nombre2", "Descripcion2", "$3.40", "tiendas-listo-menu-cubano.jpg"),
        menuTiendas.id2 = new Array("Nombre2", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1 Descripcion2", "$3.00", "tiendas-listo-menu-hot-dog1.jpg"),
        menuTiendas.id3 = new Array("Nombre3", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1 Descripcion3", "$3.20", "tiendas-listo-menu-hot-dog1.jpg"),
        menuTiendas.id4 = new Array("Nombre4", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1 Descripcion4", "$3.16", "tiendas-listo-menu-italiano.jpg"),
        menuTiendas.id5 = new Array("Nombre5", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1 Descripcion5", "$3.25", "tiendas-listo-menu-lomo-y-tocino.jpg"),
        menuTiendas.id6 = new Array("Nombre6", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1 Descripcion6", "$3.99", "tiendas-listo-menu-mixto.jpg"),
        menuTiendas.id7 = new Array("Nombre7", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1 Descripcion7", "$3.05", "tiendas-listo-menu-omelette.jpg"),
        menuTiendas.id8 = new Array("Nombre8", "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. texto 1 Descripcion8", "$3.80", "tiendas-listo-menu-pollo-cesar.jpg");
function getInformacion(id) {
    var nombre, descripcion, valor, imagen;
    if (id == "id1") {
        nombre = menuTiendas.id1[0]
        descripcion = menuTiendas.id1[1]
        valor = menuTiendas.id1[2]
        imagen = menuTiendas.id1[3];
    } else if (id == "id2") {
        nombre = menuTiendas.id2[0];
        descripcion = menuTiendas.id2[1];
        valor = menuTiendas.id2[2];
        imagen = menuTiendas.id2[3];
    } else if (id == "id3") {
        nombre = menuTiendas.id3[0];
        descripcion = menuTiendas.id3[1];
        valor = menuTiendas.id3[2];
        imagen = menuTiendas.id3[3];
    } else if (id == "id4") {
        nombre = menuTiendas.id4[0];
        descripcion = menuTiendas.id4[1];
        valor = menuTiendas.id4[2];
        imagen = menuTiendas.id4[3];
    } else if (id == "id5") {
        nombre = menuTiendas.id5[0];
        descripcion = menuTiendas.id5[1];
        valor = menuTiendas.id5[2];
        imagen = menuTiendas.id5[3];
    } else if (id == "id6") {
        nombre = menuTiendas.id6[0];
        descripcion = menuTiendas.id6[1];
        valor = menuTiendas.id6[2];
        imagen = menuTiendas.id6[3];
    } else if (id == "id7") {
        nombre = menuTiendas.id7[0];
        descripcion = menuTiendas.id7[1];
        valor = menuTiendas.id7[2];
        imagen = menuTiendas.id7[3];
    } else if (id == "id8") {
        nombre = menuTiendas.id8[0];
        descripcion = menuTiendas.id8[1];
        valor = menuTiendas.id8[2];
        imagen = menuTiendas.id8[3];
    }

    $('.nombre-menu').html(nombre);
    $('.descripcion-menu').html(descripcion);
    $('.imagen-menu').css('background-image', "url(./imagenes/tiendaslisto/" + imagen + ")")
    $('.valor').html(valor);
}
//fin cambiar prodctos en tiendas

function desplegar(id) {
    if (id == 1) {
        $('.imagenbeneficio1').addClass("activo");
        $('.texto1').show();
    } else if (id == 2) {
        $('.imagenbeneficio2').addClass("activo");
        $('.texto2').show();
    } else {
        $('.imagenbeneficio3').addClass("activo");
        $('.texto3').show();
    }

}

function verificarFooter(dato) {
    if (dato == 0)
        $('#footer-promociones').fadeOut();
    else
        $('#footer-promociones').fadeIn();
}


function cambiarPromociones(ancho) {
    if (ancho > 702) {
        $("#foo2").carouFredSel({
            items: 4,
            prev: ".flechaI",
            next: ".flechad",
            scroll: {
                items: 1,
                easing: null,
                duration: 1000,
                pauseOnHover: true
            }
        });

    } else {
        $("#foo2").carouFredSel({
            items: 1,
            prev: ".flechaI",
            next: ".flechad",
            scroll: {
                items: 1,
                easing: null,
                duration: 1000,
                pauseOnHover: true
            }
        });
    }
}
;


// centrar imagen alta en home
function centrarHome() {
    var altoContenedor = $(window).height() - $('#footer').height() - 95;


    $('#contenedor2').height(altoContenedor);

    if (altoContenedor >= 550) {
        $("#imagenHome").css("bottom", -10)
    } else {
        $("#imagenHome").css("bottom", 100)
    }
}
//fin  centrar imagen alta en home
</script>
    
  </body>
</html>
